/* You can add global styles to this file, and also import other style files */

$skipComponentStyles: (cx-mini-cart);

@import "~@spartacus/styles/index";

%custom-cx-mini-cart {
  .total {
    display: none;
  }
}

cx-mini-cart {
  @extend %custom-cx-mini-cart;
}

:root {
  --cx-color-primary: #1071ff;
  --cx-color-secondary: #f2f4f6;
  --cx-color-dark: #0c0c0c;
}

cx-banner img {
  border-radius: 10px;
}

header {
  background-color: white;
  color: var(--cx-color-dark);
  .SiteLogo {
    width: unset;
    img {
      height: 50px;
    }
  }
  .NavigationBar {
    flex: unset;
  }
  .SearchBox {
    margin: unset;
  }
  cx-searchbox label {
    width: unset;
    min-width: unset;
  }
  .SiteLogin {
    .cx-login-greet {
      display: none;
    }
    .HeaderLinks h5 {
      padding-right: 0px;
    }
  }
}

cx-site-context-selector select {
  background-color: white;
}

.CartPageTemplate {
  display: block;
}
